# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/

# IDE
.idea/
*.iml
.vscode/

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS
macos/Pods/

# Windows/Linux generated
windows/flutter/ephemeral/
linux/flutter/ephemeral/

# Logs
*.log

# Environment
.env
.env.*

# Firebase/Supabase secrets éventuels
google-services.json
GoogleService-Info.plist

# Build reports
**/build/
**/reports/

# OS files
.DS_Store
Thumbs.db